* {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

body {
  /* font-family: "Circular Pro", sans-serif; */
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}
.v-application {
  font-family: "Open Sans", sans-serif;
}


textarea,
input {
  font-family: inherit;
  border-radius: 0;
  -webkit-appearance: none;
}

h1,h2 {
  font-size: 3.6em;
  padding-bottom: 15px;
}
h3,h4 {
  font-size: 2.2em;
}
h5, p,li {
  font-size: 1.8em;
}
li p {
  font-size: 1em;
}

.small {
  font-size: 1.3em;
}
.smaller {
  font-size: 0.722222em;
}
.smaller p{
  margin-bottom: 8px;
}
.hint {
  opacity: 0.7;
}

a {
  text-decoration: none;
}


.center {
  text-align: center;
}

.content {
  max-width: 660px;
}

/* SNAPSHOTS */

.snapshot-list-title {
  color:black;
  font-weight:700;
}


#snapshotnav {
  height: calc(100vh - var(--vh-offset, 0px)) !important;
  z-index: 9999; /* must be above mapbox interface */
}

#snapshotnavContent {
  padding-bottom: 6em;
}

/* SNAPSHOTS END */
