{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<body>
<!-- Container -->
<div id="container">
        <!-- Content -->
        <div id="content">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block content %}
            {{ content }}
          {% endblock %}
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
</div>
<!-- END Container -->
<footer>
  <a target="_blank" href="https://github.com/cividi/spatial-data-package-platform/releases/tag/{{CURRENT_TAG_VERSION}}">v{{CURRENT_TAG_VERSION}}</a>
  &nbsp; 
  (<a target="_blank" href="https://github.com/cividi/spatial-data-package-platform/commit/{{CURRENT_COMMIT_VERSION}}">{{CURRENT_COMMIT_VERSION}}</a>)
</footer>
</body>
</html>
